/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

aside {
  overflow-y: scroll;
}

.solid_icon{
  position:absolute;
}
.solid_icon:before{
  content:'';
  position:absolute;
  width:27px;
  height:27px;
  left:-13.5px;
  top:-33px;
  border:solid 2px;
  background:currentColor;
  border-radius:15px 15px 15px 0;
  -webkit-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
          transform:rotate(-45deg);
  box-sizing:content-box;
}
.solid_icon:after{
  content:'';
  position:absolute;
  left:-4px;
  top:-24px;
  width:12px;
  height:12px;
  background-color:white;
  border-radius:6px;
}
/*マーカーの色のCSS*/
.color_palette{
  background-color:#3FB1CE;
  color:#3FB1CE;
  border-color:#3FB1CE;
}

#spot_menu {
  display:block;
  position:fixed;
  left:0px;
  top:0px;
}

header {
  height: 100px
}

main{
  height: calc(100vh - 100px)
}

aside{
  min-width: 256px;
}

.btn {
  font-weight: normal;
}